---
layout: default
---
<div class="home category">
 <script type="text/javascript">
  $(function(){
    var curTag = $.query.get('cat');
    var $catList = $('.cat-list');
    $('.post-title').html(curTag);  
    var dataStr = '{ {% for cat in site.categories %}{% if cat[0] != site.categories.first[0] %},{% endif %}"{{ cat[0] }}":[{% for post in cat[1] %}{% if post != cat[1].first %},{% endif %}{"url":"{{post.url}}","title":"{{post.title}}","date":"{{post.date | date:"%d/%m/%Y"}}"}{% endfor %}]{% endfor %} }',
    data = JSON.parse(dataStr),
    curTag = $.query.get("cat"),
    archieves = data[curTag];
    //console.log(data);
    for(var i = 0; i < archieves.length; i++){
      var item = archieves[i];
      var str = '<li><span>'+item.date+'</span><a href="{{ site.baseurl }}'+item.url+'">'+item.title+'</a></li>'
      $catList.append(str);
    }
  })
  
</script>
  <header class="post-header">
    <h1 class="post-title"></h1>
  </header>
  <ul class="cat-list"></ul>
</div>
