/**
 * Site header
 */
 html,body { background: #f5f5f5;}
.site-header {
  width: 100%; height: 82px;
  position: fixed; top: 0; left: 0;
  background-color: rgba(221,221,221,1);
  box-shadow:0 2px 6px #828282;
  transition: background-color 1s ease-out;
  &:hover {
    background-color: rgba(36,41,44,1);
  }
  //border-bottom: 5px solid $grey-color-light;
  //border-bottom: 1px solid $grey-color-light;
  .wrapper { 
    height: 82px;
    @extend %rel;
    .logo { 
      width: 220px; height: 44px; 
      padding-top: 19px;
      a {
        width: 220px; height: 44px;
        background: url(../images/logo.png) no-repeat 0 0;
        display: block;
        &.one,
        &:hover {
          -webkit-animation: logo 1.2s steps(11) backwards; 
          animation: logo 1.2s steps(11) backwards;
        }
      }
    }
    .menu {
      @extend %abs;
      right: 0;
      top: 50%;
      margin-top: -20px;
      li {
        @extend %fl;
        a {
          display: block;
          padding: 0 40px;
          text-align: center;
          color: rgba(221,221,221,.8);
          height: 46px;
          line-height: 46px;
        }
        .active,
        &:nth-child(1):hover {
          background: #4285F4;
          color: #fff;
          a {
            color: #fff;
          }
        }
        &:nth-child(2):hover {
          background: #EA4335;
          color: #fff;
          a {
            color: #fff;
          }
        }
        &:nth-child(3):hover {
          background: #FBBC05;
          color: #fff;
          a {
            color: #fff;
          }
        }
        &:nth-child(4):hover {
          background: #34A853;
          color: #fff;
          a {
            color: #fff;
          }
        }
      }
    }
  }
}
/* 
* logo Animation
*/
@keyframes logo {
  from { background-position: 0 -40px;}
  to { background-position: 0 -480px;}
}
@-webkit-keyframes logo {
  from { background-position: 0 -40px;}
  to { background-position: 0 -480px;}
}
/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
    box-shadow: 0 -1px 6px #ddd;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
@mixin heading {
  font-size: 20px;
  height: 36px;
  padding-bottom: 5px;
  border-bottom: 2px solid $grey-color-light;
  line-height: 46px;
}
.page-content {
    .wrapper {
      margin: 120px auto 0;
      background: #fff;
      box-shadow: 1px 0 6px #ddd;
      .newslist {
        @extend %fl;
        width: 689px;
        padding: 30px 20px;
        border-right: 1px solid $grey-color-light;
        .home {
          padding-right: 20px;
          .page-heading {
            @include heading;
          }
        }
      }
      .sidebar {
        @extend %fr;
        width: 210px;
        padding: 30px 20px;
        .date-time {
          width: 140px;
          height: 140px;
          margin: 0 auto;
          background: url(../images/date.png) left top no-repeat;
          .m {
            display: block;
            height: 33px;
            line-height: 33px;
            font-size: 12px;
            color: #fff;
            text-align: center;
          }
          .d {
            display: block;
            height: 107px;
            font-size: 86px;
            line-height: 106px;
            text-align: center;
            font-weight: bolder;
            background: url(../images/date.png) left -150px no-repeat;
          }
        }
        .postCategory {
          margin-top: 20px;
          .sidebar-heading {
            @include heading;
          }
          .sidebar-list {
            li {
              height: 32px;
              a {
                width: 100%;
                display: inline-block;
                line-height: 32px;
                @extend %thide;
                color: #111;
                &:hover {
                  color: #4285F4;
                }
              }
            }
          }
        }
        
      }
    }
}

/* index */
.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: 10px;
        border-radius: 8px;
        padding: 5px;
        @extend %rel;
        .line {
          @extend %page-line;
          top: 0;
          left: -20px;
          opacity: 0;
          // background: #ccc;
          //display: none;
        }
        a {
          color: #111;
        }
        &:nth-child(1) {
          margin-top: 10px;
        }
    }
}
/* page-list animation */
.pagelist-animate {
  -webkit-animation: pageline 1.2s infinite;
  animation: pageline 1.2s infinite;
}
@-webkit-keyframes pageline {
  0% {
    opacity: 0;
    left: 0;
  }
  1% {
    opacity:  0.5;
    left: 0;
  }
  99% {
    opacity: 1;
    left: 680px;
  }
  100% {
    opacity: 0;
    left: 690px;
  }
}
@keyframes pageline {
  0% {
    opacity: 0;
    left: 0;
  }
  1% {
    opacity:  0.5;
    left: 0;
  }
  99% {
    opacity: 1;
    left: 680px;
  }
  100% {
    opacity: 0;
    left: 690px;
  }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}

/* showCategory */
.newslist {
  .category{
    min-height: 600px;
    .post-header {
      height: 40px;
      padding-bottom: 5px;
      border-bottom: 1px solid #ddd;
      .post-title {
        font-size: 22px;
        line-height: 40px;
      }
    }
    .cat-list {
      li {
        height: 56px;
        background: #f1f1f1;
        border-radius: 8px;
        margin-bottom: 8px;
        a {
          line-height: 56px;
          color: #111;
          font-size: 20px;
          padding-left: 8px;
          &:hover {
            color: #4285F4;
          }
        }
        span {
          @extend %fr;
          line-height: 56px;
          margin-right: 10px;
          color: #999;
          font-size: 16px;
        }
      }
    }
  }
}


/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;
    min-height: 600px;
    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
